
       <!---EXPERIENCIA-->
       <section id="experiencia" class="experiencia"> 
        <div class="container">
          <h4 class="titulo1">Experiencia</h4>
        <div class="row">
          <div class="col-md-4 log"> 
            <i class="fa fa-bandcamp fa-5x" aria-hidden="true"></i>
          </div>
          <div class="col-md-8 exp"> 
            <h4 class="titulo">Proinver Ralt C.A / Planificador de proyecto</h4>
            <p class="parrafo1">Marzo 2013- Julio 2018</p>
          <ul>
            <li>Control y seguimiento de las tareas al momento para evitar errores o pérdidas de tiempo.</li>
            <li>Control de lo facturado del proyecto.</li>
            <li>Planificación de las actividades y asignaba a los integrantes del equipo en base a sus funciones y habilidades.</li>
            <li>Control de adquisición de repuestos.</li> 
            <li>Coordinación de un equipo de proyecto.</li>
            <li>Velar porque el proyecto se ejecute en el tiempo y presupuesto establecido.</li>                 
          </ul>
        </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4 log"> 
            <i class="fa fa-bandcamp fa-5x" aria-hidden="true"></i>
          </div>
          <div class="col-md-8 exp"> 
            <h4 class="titulo">Grem Servicios C.A / Técnico de software</h4>
            <p  class="parrafo1">Enero 2012 - Septiembre 2013</p>
          <ul>
            <li>Instalación, actualizaciones y mantenimiento del software GALAC.</li>
            <li>Mantenimiento de bases de datos y documentos funcionales y técnicos.</li>                
          </ul>
        </div>
        </div>
      </div>


      </section>
