<section id="habilidades" class="habilidades"> 
    <div class="container">
        <h1 class="display-5 mb-10 titulo1">Habilidades y experiencia</h1>
        <p class="mb-4">Con capacidades para Establecer los 
            requerimientos de un sitio web,app o lading page e implementar su solución informática, junto al esuipo de trabajo ya 
            que tengo habilidades para comunicarme efectivamente con clientes, usuarios y personal técnico dentro de una organización.</p>
        <div class="row">
            <div class="text-center col-sm-4 col-md-4 col-lg-2">
                <circle-progress
                [percent]="85"
                [radius]="50"
                [showUnits]="false"
                [title]="'85%'"
                [titleFontSize]="'15px'"
                [showSubtitle]="false"
                [outerStrokeWidth]="15"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#004AAD'"
                [innerStrokeColor]="'#000000'"
                [animation]="true"
                [animationDuration]="600"
              ></circle-progress>
              <p>HTML</p>
            </div>
            <div class="text-center col-sm-4 col-md-4 col-lg-2">
                <circle-progress
                [percent]="85"
                [radius]="50"
                [showUnits]="false"
                [title]="'85%'"
                [titleFontSize]="'15px'"
                [showSubtitle]="false"
                [outerStrokeWidth]="15"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#004AAD'"
                [innerStrokeColor]="'#000000'"
                [animation]="true"
                [animationDuration]="600"
              ></circle-progress>
              <p>CSS</p>
            </div>
            <div class="text-center col-sm-4 col-md-4 col-lg-2">
                <circle-progress
                [percent]="70"
                [radius]="50"
                [showUnits]="false"
                [title]="'70%'"
                [titleFontSize]="'15px'"
                [showSubtitle]="false"
                [outerStrokeWidth]="15"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#004AAD'"
                [innerStrokeColor]="'#000000'"
                [animation]="true"
                [animationDuration]="600"
              ></circle-progress>
              <p>Javascript</p>
            </div>
            <div class="text-center col-sm-4 col-md-4 col-lg-2">
                <circle-progress
                [percent]="70"
                [radius]="50"
                [showUnits]="false"
                [title]="'70%'"
                [titleFontSize]="'15px'"
                [showSubtitle]="false"
                [outerStrokeWidth]="15"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#004AAD'"
                [innerStrokeColor]="'#000000'"
                [animation]="true"
                [animationDuration]="600"
              ></circle-progress>
              <p>Figma</p>
            </div>
            <div class="text-center col-sm-4 col-md-4 col-lg-2">
                <circle-progress
                [percent]="90"
                [radius]="50"
                [showUnits]="false"
                [title]="'90%'"
                [titleFontSize]="'15px'"
                [showSubtitle]="false"
                [outerStrokeWidth]="15"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#004AAD'"
                [innerStrokeColor]="'#000000'"
                [animation]="true"
                [animationDuration]="600"
              ></circle-progress>
              <p>Trello</p>
            </div>
            <div class="text-center col-sm-4 col-md-4 col-lg-2">
                <circle-progress
                [percent]="85"
                [radius]="50"
                [showUnits]="false"
                [title]="'85%'"
                [titleFontSize]="'15px'"
                [showSubtitle]="false"
                [outerStrokeWidth]="15"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#004AAD'"
                [innerStrokeColor]="'#000000'"
                [animation]="true"
                [animationDuration]="600"
              ></circle-progress>
              <p>Angular</p>
            </div>  
        </div>


    </div>
</section>

