
       <!---EDUCACIÓN
       <section id="educacion" class="educacion">
        <div class="container">
          <h4 class="titulo1">Educación</h4>
          <div class="row">
            <div class="col-md-4 log ">
              <i class="fa fa-bandcamp fa-5x" aria-hidden="true"></i>
            </div>
            <div class="col-md-8">
              <h4 class="titulo">Universidad de oriente(UDO)</h4>
              <ul>
                <li>Ingeniera en computación</li>
                <li  class="parrafo1"
                >2005/2013</li>
                
              </ul>
            </div>
          </div>
        </div>
     </section>-->

     <section class="formacion" id="educacion">
      <div class="educacion1 container-educacion">
        <h1 class="text-center">Formación académica</h1>
        <br><br>
        <section class="educacion">
          <div class="cont-expert">
            <img src="assets/img/3.png" alt="">
            <h3 class="n-expert">UDO</h3>
            <p class="parrafo">Universidad de Oriente</p>
          </div>
          <div class="cont-expert">
            <img src="assets/img/4.png" alt="">
            <h3 class="n-expert">Alura</h3>
            <p class="parrafo"> Alura Latam</p>
          </div>
          <div class="cont-expert">
            <img src="assets/img/2.png" alt="">
            <h3 class="n-expert">Cessi</h3>
            <p class="parrafo"> Cámara de la industria Argentina del Software</p>
          </div>
        </section>
      </div>
    
    </section>
